@import "reset.css";

@import "components/status-bar.css";
@import "components/menu-bar.css";
@import "components/sticker.css";
@import "components/reply-box.css";

@import "screens/login.css";
@import "screens/home.css";
@import "screens/chats.css";
@import "screens/lauri-chat.css";
@import "screens/key-chat.css";

@import "variables.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family: 'WT Jazz Exp';
    src: url('WTJazz-BoldExpanded.eot');
    src: local('WT Jazz Exp Bold'), local('WTJazz-BoldExpanded'),
        url('WTJazz-BoldExpanded.eot?#iefix') format('embedded-opentype'),
        url('WTJazz-BoldExpanded.woff2') format('woff2'),
        url('WTJazz-BoldExpanded.woff') format('woff'),
        url('WTJazz-BoldExpanded.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: black;
    font-family: 'WT Jazz Exp';
    font-weight: bold;
    font-style: normal;
    height: 150vh;
    padding-top: 39px;
}
