@import "reset.css";

@import "components/status-bar.css";
@import "components/menu-bar.css";
@import "components/sticker.css";
@import "components/reply-box.css";

@import "screens/login.css";
@import "screens/home.css";
@import "screens/chats.css";
@import "screens/lauri-chat.css";
@import "screens/key-chat.css";
@import "screens/jordan.css";
@import "screens/schedule.css";

@import "variables.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family: 'WT Jazz Exp';
    src: url('WTJazz-BoldExpanded.eot');
    src: local('WT Jazz Exp Bold'), local('WTJazz-BoldExpanded'),
        url('WTJazz-BoldExpanded.eot?#iefix') format('embedded-opentype'),
        url('WTJazz-BoldExpanded.woff2') format('woff2'),
        url('WTJazz-BoldExpanded.woff') format('woff'),
        url('WTJazz-BoldExpanded.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: black;
    font-family: 'WT Jazz Exp';
    font-weight: bold;
    font-style: normal;
    height: 150vh;
    padding-top: 39px;
}

.menu-top > h2{
    font-size: x-large;
    color: var(--yellow);
}
.category{
    height: 15vh;
    width: 97vw;
    background-color: aqua;
}
.category__name{
    display: flex;
    justify-content: space-between;
}
.category__name > h1{
    color: var(--yellow);
    margin-left: 10px;
    font-size: larger;
}
.category__name > h3{
    margin-right: 15px;
    font-weight: 600;
    color: white;
}
.category__box > div{
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    border: 3px solid white;
    margin: 10px;
}
.category__box > div > h1{
    color: white;
}
.category__box{
    display: flex;
    justify-content: center;
    align-items: center;
}